.container {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #f5b029;

	&__gradient {
		flex: 1;
	}

	&__titleContainer {
		border-bottom-color: #fff;
		border-bottom-width: 1.5px;
        padding-top: 0.8rem;
		padding-bottom: 0.3rem;
		width: 100%;

		&__title {
			align-self: center;
			font-weight: 600;
			font-size: 18px;
            font-family: Poppins-Medium;
			color: #fff;
		}
	}

	&__draggableIcon {
		height: 0;
	}
}
