.container {
	display: flex;
	margin-bottom: 45px;

	&__label {
		flex-direction: row;
		align-self: flex-start;

		&__mandatoryNote {
			margin-right: 10px;
		}
	}

	&__input {
		width: 85%;
		align-self: center;
		margin-top: 10px;

		&__text {
			text-align: left;
			padding-left: 15px;
			color: #1e1e1e;
			border-color: #0000004d;
			font-family: Poppins-Regular;
			border-bottom-width: 1px;
		}

		&__error {
            margin-top: 5px;
			align-self: center;
		}
	}
}
