.container {
	&__caption {
		color: #5a5a5a;
		font-family: Poppins-Light;
		font-weight: 300;
		align-self: center;
		vertical-align: middle;
		font-size: 15;

		&__active {
			color: #fbfbfb;
		}
	}
}
