.container {
	background-color: white;
	flex: 1;

	&__header {
		color: #1E1E1E;
		font-family: Poppins-Bold;
		font-size: 10px;
		align-self: center;
		// margin-top: 20px;
	}

	&__note {
		align-self: center;
		font-family: Poppins-Medium;
		top: 50%;
		color: #1E1E1E;
	}

	&__list {
		padding: 20px;

		&__separator {
			height: 10px;
		}
	}
}

.loadingContainer {
    flex: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
}