.container {
	flex: 1;
	background-color: white;
	// justify-content: center;
	align-items: center;
	padding: 10px;

	&__form {
		flex: 0.6;
		width: 90%;

		&__label {
			color: #5a5a5a;
			font-family: Poppins-Medium;
			font-weight: 500;
		}
	}
}
