.container {
	flex: 1;
	display: flex;
    align-items: center;
    background-color: white;

	&__form {
		justify-content: center;
        width: 90%;
		flex: 1;
	}
}

.loadingContainer {
	flex: 1;
	background-color: white;
	align-items: center;
	justify-content: center;
}
