.container {
	display: flex;
	margin-bottom: 45px;

	&__label {
		flex-direction: row;
		align-self: flex-start;

		&__mandatoryNote {
			margin-right: 10px;
		}
	}

    &__picker {
		width: 85%;
		align-self: center;
        margin-top: 10px;

		&__modal {
            border-radius: 50px;

            &__initValueTextStyle {
                color: #1E1E1E;
            }
		}

		&__error {
            margin-top: 5px;
			align-self: center;
		}
	}
}
