// .container {
// 	background-color: #f10065;
// 	aspect-ratio: 1;
//     flex: 1;
// 	border-radius: 20px;
// 	align-items: center;
// 	align-content: center;
//     justify-content: center;

//     &__icon {
//         flex: 0.5;
//         aspect-ratio: 1;
//     }
// }

.mainContainer {
    flex-direction: row;
    aspect-ratio: 5;
    border-radius: 18px;
    height: 83%;
    width: 100%;
    align-self: center;
    background-color: #EBEBEB;
    &__text {
        color: #444444;
        font-family: "Poppins-Medium";
        align-self: center;
        font-size: 20px;
        padding-left: 20%;
    }

    &__buttonContainer {
        background-color: #f10065;
        // flex: 1;
        aspect-ratio: 1;
        border-radius: 18px;
        align-items: center;
        width: 20%;
        align-content: center;
        justify-content: center;
        &__icon {
            align-self: center;
            aspect-ratio: 0.3;
        }
    }

}