.swipingControlsContainer {
	display: flex;
	flex-direction: row;
	height: 75;
	width: 60%;
	align-items: center;
	align-self: center;
	justify-content: space-around;

	&__swipeLeftContainer {
		height: 90%;
		aspect-ratio: 1;
		align-items: center;
		background-color: white;
		border-radius: 200px;
		border-width: 3px;
		border-color: #1e1e1e0f;

		&__disabled {
			height: 90%;
			aspect-ratio: 1;
			align-items: center;
			background-color: white;
			border-radius: 200px;
			border-width: 3px;
			border-color: #1e1e1e0f;
			opacity: 0.5;
		}

		&__icon {
			flex: 1;
		}
	}

	&__swipeTopContainer {
		height: 90%;
		aspect-ratio: 1;
		align-items: center;
		background-color: white;
		border-radius: 200px;
		border-width: 3px;
		border-color: #1e1e1e0f;

		&__disabled {
			height: 90%;
			aspect-ratio: 1;
			align-items: center;
			background-color: white;
			border-radius: 200px;
			border-width: 3px;
			border-color: #1e1e1e0f;
			opacity: 0.5;
		}

		&__icon {
			flex: 1;
		}
	}

	&__swipeRightContainer {
		height: 90%;
		aspect-ratio: 1;
		align-items: center;
		background-color: #f10065;
		border-radius: 200px;
		border-width: 3px;
		border-color: #1e1e1e0f;

		&__disabled {
			height: 90%;
			aspect-ratio: 1;
			align-items: center;
			background-color: #f10065;
			border-radius: 200px;
			border-width: 3px;
			border-color: #1e1e1e0f;
			opacity: 0.5;
		}

		&__icon {
			flex: 1;
		}
	}
}
