.container {
	flex: 1;
	background-color: gray;
    border-radius: 20px;
    border-width: 1px;
    border-color: #0000004d;

	&__caption {
		align-self: center;
		margin-top: 50%;
		font-size: 11px;
		font-weight: bold;
		color: white;
	}

	&__picker {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;

		&__container {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex: 1;

			&__option {
				align-self: center;

				&__caption {
					font-size: 20px;
					font-weight: bold;
					color: gray;
				}
			}
		}
	}
}
