.buttonContainer {
    align-self: center;
    width: 100%;
    justify-content: center;
    margin-top: 15%;
    &__buttonDimensions {
        width: 80%;
        background-color: #F10065;
        border-radius: 20px;
        align-self: center;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    &__buttonText {
        color: white;
        text-align: center;
        font-family: "Poppins-Medium";
    }
}