.messageBubbleGeneral {
	padding: 15px;
	border-radius: 40px;
	max-width: 70%;
}

.self {
	align-self: flex-end;

	&__message {
		background-color: #ec4474;
		border-bottom-right-radius: 0;

		&__content {
			color: white;
			font-family: Poppins-Regular;
		}
	}

	&__timestamp {
		text-align: right;
		font-family: Poppins-Light;
	}
}

.other {
	align-self: flex-start;

	&__message {
		background-color: #f1f1f1;
		border-bottom-left-radius: 0;

		&__content {
			color: #363636;
			font-family: Poppins-Regular;
		}
	}

	&__timestamp {
		text-align: left;
		font-family: Poppins-Light;
	}
}

.metadata {
	flex-direction: row;
	justify-content: space-between;
	&__timestamp {
		font-size: 10px;
		color: #878787;
		margin-top: 5px;
	}

	&__read {
		align-self: center;
		margin-top: 5px;
	}
}
