.container {
    width: 90%;
    align-self: center;
    height: 80%;
    align-content: center;
    flex: 1;

    &__form {
        height: 69%;
        margin-top:30%;
        justify-content: center;
    }

    &__error {
        margin-top: 5px;
        align-self: center;
    }
}