.container {
	flex: 1;
	align-items: center;
	justify-content: space-around;
	border-color: rgba(#000000, 0.1);

	&__profile {
		aspect-ratio: 1;
		width: 45%;
		border-radius: 500px;
	}

	&__fullNameAndAgeContainer {
		align-items: center;
		width: 100%;

		&__fullName {
			font-size: 22px;
			font-family: "Poppins-Bold";
			font-weight: 600;
			color: #222222;
		}

		&__age {
			font-size: 20px;
			font-weight: 900;
			font-family: Poppins-Medium;
			color: #1e1e1e;
		}

		&__underline {
			background-color: #f10065;
			height: 8;
			width: 50%;
			border-radius: 500px;
		}
	}
}
