.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    &__form {
        &__dimensions {
            width: 85%;
        }
    }
    &__images {
        height: 50%;
    }
    &__button {
        margin-top: 65;
        align-self: center;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
