<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946825905593-sgqr83jvrs4vtrjtk9m3c75iqcijbdco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946825905593-sgqr83jvrs4vtrjtk9m3c75iqcijbdco</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>946825905593-88detm98k7n4vmrffontqn27q3pd5i4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiaPR9nRtTmRVykRL9hr9RmHXi7Zdcuqw</string>
	<key>GCM_SENDER_ID</key>
	<string>946825905593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memo.memo</string>
	<key>PROJECT_ID</key>
	<string>memo-bffec</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-bffec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946825905593:ios:0b9c62770b3cae1517e268</string>
	<key>DATABASE_URL</key>
	<string>https://memo-bffec-default-rtdb.firebaseio.com</string>
</dict>
</plist>