.container {
	z-index: 10;
	width: 100%;
	height: 100%;
	justify-content: center;
	opacity: 0.6;

	&__caption {
		color: #fff;
		font-size: 40;
		z-index: 100;
		align-self: center;
		font-family: Popins-Bold;
		font-weight: 900;
	}
}
