.container {
	// width: 90%;
	align-self: center;
	// background-color: red;
	// height: 80%;
	align-content: center;
	flex: 1;

	&__form {
		margin-top: 20%;
		height: 80%;
	}

	&__photosNote {
		font-family: "Poppins-Light";
		color: #31313199;
		text-align: center;
		padding-top: 3%;
		font-size: 14;
	}

	&__photos {
		margin-top: 10%;
		height: 50%;
	}

	&__loading {
		align-self: center;
	}

	&__formContainer {
		flex: 1;
		justify-content: center;
		align-items: center;
		padding: 10px;
		width: 90%;
		align-self: center;

		&__form {
			width: 90%;
		}
	}
}

.imagePickerContainer {
	flex: 1;
	// height: 350px;
	// height: 48%;
	// background-color: red;

	&__labelsContainer {
		margin-bottom: 20px;

		&__mainLabel {
			color: #313131;
			font-size: 25px;
			font-family: Poppins-Semibold;
			font-weight: 600;
		}

		&__tutorialLabel {
			color: #0000004d;
			font-size: 13px;
			font-family: Poppins-Regular;
		}
	}
}
