.container {
	flex: 1;
	align-items: center;
	justify-content: center;

	&__header {
		flex: 1;
        width: 100%;
		justify-content: space-around;

		&__title {
			text-align: center;
			font-size: 50px;
			color: #ec4474;
			font-weight: bold;
		}

		&__abstract {
            width: 100%;
            align-self: flex-end;
            margin-right: 30px;
		}
	}

	&__footer {
		flex: 1;
		flex-direction: column-reverse;

		&__note {
			text-align: center;
			font-size: 10px;
			color: #36363675;
			padding: 30px;
		}
	}

	&__signinButton {
		align-content: center;
		align-items: center;
		align-self: center;
	}
}

.loadingContainer {
    flex: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
}