.navigationButtonContainer {
	flex: 1;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.overlaidNavigationContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;

    &__half {
        width: 50%;
        height: 100%;
    }
}
