.container {
    flex: 1;
    justify-content: center;
    align-items: center;

    &__form {
        &__dimensions {
            width: 85%;
        }
    }

    &__button {
        margin-top: 40;
    }
}
