.container {
    flex: 1;
    background-color: white;
    height: 100%;
}

.loadingContainer {
    flex: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.header {
    flex-direction: row;
    
    &__button {
        align-self: center;
    }

    &__textContainer {
        width: 80%;
        justify-content: center;
        margin-left: 1%;
        &__text {
            font-family: "Poppins-Bold";
            color: black;
            font-size: 25px;
            align-self: center;
        }
    }

}