.container {
	flex: 1;
	display: flex;
	margin-bottom: 5px;

	&__label {
		flex-direction: row;
		align-self: flex-start;

		&__mandatoryNote {
			margin-right: 10px;
		}
	}

	&__picker {
		flex: 1;
		width: 85%;
		align-self: center;

		&__carouselContainer {
			flex: 1;

			&__carousel {
				flex: 1;
				display: flex;

				&__separator {
					width: 100%;
					height: 10;
				}

				&__imageSlide {
					flex: 1;
					width: 100%;
					// height: 20%;
					aspect-ratio: 1;

					&__image {
						flex: 1;
						border-radius: 20px;
					}
				}
			}

			&__error {
				margin-top: 5px;
				align-self: center;
			}
		}
	}
}
