.container {
	flex: 1;
	display: flex;
	// margin-bottom: 20px;
	padding-bottom: 20px;
	// background-color: red;

	&__label {
		flex-direction: row;
		align-self: flex-start;

		&__bubble {
			border-radius: 500px;
			border-color: #606060;
			border-width: 2px;
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: center;
			align-content: center;
			padding-left: 10px;
			padding-right: 10px;

			&__caption {
				font-family: Poppins-Medium;
				font-size: 13px;
				color: #606060;
				font-weight: 300;
				align-self: center;
				text-align: center;
			}
		}

		&__mandatoryNote {
			margin-right: 10px;
		}
	}

	&__slider {
		flex: 1;
		width: 85%;
		align-self: center;
		margin-top: 20px;

		&__control {
			&__thumb {
				border-radius: 500px;
				border-color: #606060;
				// border-color: #f10065;
				border-width: 1.5px;
				// background-color: #fff;
				background-color: #606060;
				// background-color: #f10065;
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				text-align: center;

				&__caption {
					font-family: Poppins-Medium;
					font-size: 11px;
					// color: #606060;
					color: #fff;
					font-weight: 300;
					align-self: center;
					text-align: center;
				}

				&__low {
					width: 35;
					aspect-ratio: 1;
				}

				&__high {
					width: 35;
					aspect-ratio: 1;
				}
			}

			&__rail {
				flex: 1;
				height: 4;
				// border-radius: 2px;
				// background-color: #7f7f7f;
			}

			&__railSelected {
				height: 1.5px;
				// background-color: #4499ff;
				background-color: #606060;
				// background-color: #f10065;
				// border-radius: 2;
			}
		}

		&__error {
			margin-top: 5px;
			align-self: center;
		}
	}
}
