.container {
	flex: 1;
	background-color: white;

	&__formContainer {
		flex: 1;
		justify-content: center;
		align-items: center;
		padding: 10px;

		&__form {
			width: 90%;
		}
	}
}

.note {
	&__text {
		font-size: 10px;
		text-align: justify;
		margin-bottom: 10px;

		&__link {
			color: #007aff;
			text-decoration: underline;
		}
	}
}
