.container {
	flex: 1;
	background-color: white;

	&__formContainer {
		flex: 1;
		justify-content: center;
		align-items: center;
		padding: 10px;
        justify-content: space-around;

		&__form {
			width: 90%;

			&__switcher {
				align-self: flex-end;
			}
		}
	}
}
