.container {
	background-color: white;
	flex: 1;
	&__chat {
		background-color: white;
		flex: 1;
		&__messages {
			flex: 1;
			background-color: white;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 5%;
			&__separator {
				height: 20px;
			}
		}
	}
}
